/* src/app/globals.css */

/* Importing Tailwind's default layers */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global font settings */
body {
    font-family: 'Poppins', sans-serif;
    color: #172840;
}

/* Custom variant for dark mode (optional) */
@custom-variant dark (&:is(.dark *));

/* For smooth transitions when changing images */
.slider-transition {
    transition: opacity 0.5s ease-in-out;
  }
  

  .team-bg{
    background-image: url('/assets/images/team.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
  }